<!-- TMPL_INCLUDE NAME="header.html" -->

<!--
<p style="color:red;text-align:center"><strong>*** PLEASE NOTE **** This server will be unavailable on Friday 7th November for maintenance.</strong></p>
-->

<p>
This service allows you to automatically set up an externally accessible FTP site to allow you to share data with your collaborators, either to let them download data you have created, or to upload their data to somewhere you can access it.
</p>

<h3>Current free space is <strong><!-- TMPL_VAR NAME=FREE_SPACE ESCAPE=HTML --></strong></h3>

<p>
Using the links below you can create a new FTP site for a limited time, or check on the status of sites you have already created.
</p>

<ul>

<li><a href="?action=new">Request a new FTP site</a></li>
<li><a href="?action=check">Check your existing sites</a></li>
</ul>

<p>
This tool simply provides a mechanism to allow the sharing of data.  <strong>It is your responsiblity to ensure that your data is shared appropriately</strong>.  If you are unsure about what restrictions apply to data in your studies please contact Robert Pyke.
</p>

<!--
<p style="color:red;text-align:center"><strong>*** PLEASE NOTE **** This server will be unavailable on Friday 7th November for maintenance.</strong></p>
-->

<!-- TMPL_INCLUDE NAME="footer.html" -->